@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import "tailwindcss";

:root {
  --font-display: "Poppins", system-ui, sans-serif;
  --font-body: "Poppins", system-ui, sans-serif;

  --color-base-black: #000000;
  --color-neutral-25: #FDFDFD;
  --color-neutral-400: #A4A7AE;
  --color-star-yellow: #E4A802;

  --background: #000000;
  --foreground: #fafafa; 

  --primary: #dc2626; 
  --primary-foreground: #fafafa;

  --card: #18181b; 
  --card-foreground: #fafafa;
  
  --popover: #000000; 
  --popover-foreground: #fafafa;
  
  --secondary: #27272a; 
  --secondary-foreground: #fafafa;
  
  --muted: #27272a;
  --muted-foreground: #a1a1aa; 
  
  --accent: #27272a;
  --accent-foreground: #fafafa;

  --border: #27272a; 
  --input: #27272a;
  --ring: #dc2626; 

  --radius: 0.75rem;
}

html,
body,
#root {
  background-color: #000000 !important;
  color: #fafafa;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100%;
  /* Mengunci font global agar serasi */
  font-family: "Poppins", system-ui, sans-serif;
}


.scrollbar-none::-webkit-scrollbar {
  display: none;
}
.scrollbar-none {
  -ms-overflow-style: none;
  scrollbar-width: none;
}